- @title = @game.name
- @game.categories.each do |category|
  .category
    .category_name
      .content
        = category.name
    - category.answers.each do |answer|
      .reward
        .content
          = render_reward(@game, category, answer)
